{% load datadjables %}<html>
    <head>
        <script type="text/javascript" src="/static/datadjables/js/jquery.js"></script>
	    <script type="text/javascript" src="/static/datadjables/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/static/datadjables/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/static/datadjables/js/jquery.dataTables.columnFilter.js"></script>
        <script type="text/javascript" src="/static/datadjables/js/datadjables.js"></script>
        
      	<link rel="stylesheet" href="/static/datadjables/css/jquery.dataTables.css">
	    <link rel="stylesheet" href="/static/datadjables/css/ui-lightness/jquery-ui-1.10.3.custom.css" >
      	<link rel="stylesheet" href="/static/datadjables/css/datadjables.css">
    </head>
    <body>
        <h1>Persons</h1>
        {% table_init dtobj %}
    </body>
</html>
