{% load datatables %}<html>
    <head>
        <script type="text/javascript" src="/static/datatables/js/jquery.js"></script>
        <script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/static/datatables/js/django_datatables.js"></script>
      	<link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css">
    </head>
    <body>
        <h1>Purchases</h1>
        <hr>
        xxx
        <hr>
        {% table_init dtobj %}
    </body>
</html>
